@use "@/styles/base/_variables.scss";
.intro {
  padding: 10px 20px;
  .content {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
    h2 {
      color: variables.$primary-color;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
      text-align: center;
      font-family: var(--font-inria-sans);
    }
    img {
      width: 250px;
      height: 250px;
      @media screen and (min-width: variables.$xsmall) {
        width: 350px;
        height: 350px;
      }
    }
  }
  @media screen and (min-width: variables.$small) {
    flex: 1;
  }
  @media screen and (min-width: variables.$medium) {
    flex: 2;
  }
}
