@use "@/styles/base/_variables.scss";
.card {
  background-color: variables.$background-three-color;
  color: white;
  border-radius: 15px;
  font-family: var(--font-inria-sans);
  width: 250px;

  .content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info {
      h2 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
      }
      p {
        margin: 2px;
        font-size: 14px;
        font-weight: 500;
        color: variables.$primary-color;
      }
    }
    .finished {
      font-size: 14px;
    }
  }
}
