@use "@/styles/base/_variables.scss";
@use "@/styles/base/_mixins.scss";
.container {
  align-items: center;
  padding-top: 60px;
  font-family: var(--font-inria-sans);
  z-index: 20;
  @include mixins.createStaticBar(300px, variables.$background-three-color);
  right: 0;

  .closeButton {
    @include mixins.sideBarsCloseButton(right);
  }
  img:not(.close) {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  h3 {
    font: {
      size: 25px;
      weight: bold;
    }
    margin: 10px 0 15px 0;
    color: variables.$primary-color;
  }
  p {
    font: {
      size: 18px;
      weight: bold;
    }
    margin: 10px 0 10px 0;
  }
}
