$primary-color: #edcb45;
$primary-color-shadow: #edcb454b;
$primary-text-color: #f2f2f2;
$secondary-text-color: #e1e1e1;
$background-one-color: black;
$background-two-color: #1d1d1d;
$background-three-color: #0f0f0f;
//TODO FIX COLORS
//screen
$xsmall: 430px;
$small: 768px;
$medium: 1024px;
$large: 1280px;
$xlarge: 1440px;

//contianer-width
$xsmall-width: 430px;
$small-width: 800px;
$medium-width: 1000px;
$large-width: 1200px;
$xlarge-width: 1200px;
