@use "@/styles/base/_variables.scss";
.header {
  color: variables.$primary-text-color;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: fit-content;
  border-bottom: 1px solid variables.$primary-color;
  font-family: var(--font-inria-sans);
}
