@use "@/styles/base/_variables.scss";
@use "@/styles/base/_mixins.scss";

.container {
  padding: 0 0 0 30px;
  max-width: 100%;
  flex: 3;
  color: white;
  font-family: var(--font-inria-sans);
  @include mixins.breakpoint(variables.$xlarge) {
    max-width: 65%;
  }
}
