@use "@/styles/base/_variables.scss";
@use "@/styles/base/_mixins.scss";

.container {
  padding: 0;
  position: sticky;
  @include mixins.breakpoint(variables.$xlarge) {
    flex-grow: 1;
    max-width: calc(100% - 600px);
  }
  @include mixins.maxBreakpoint(variables.$xlarge) {
    min-width: 100%;
  }

  .sections {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    gap: 40px;
  }
}
